.wrapper {
  position: relative;
}

.dropzone {
  position: absolute;
  inset: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;

  &[data-accept] {
    background-color: var(--dropzone-accept-color);
    background: var(--dropzone-accept-bg);
  }

  &[data-reject] {
    background-color: var(--dropzone-reject-color);
    background: var(--dropzone-reject-bg);
  }
}

.toolbarAction {
  pointer-events: all;
}
