.header {
  position: relative;
  height: var(--mantine-header-height);
  background-color: var(--header-footer-color);
  border-bottom: rem(1px) solid var(--header-footer-color);
}

.inner {
  height: var(--mantine-header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mantine-breakpoint-sm) {
    justify-content: center;
  }
}

.burger {
  position: absolute;
  right: 20px;
}
